[2022-01-08 01:25] cmadland opened #2 "Colin Madland"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[EDCI 338](https://edtechuvic.ca/edci338

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [x]  Check this box if you agree to have your blog post

[2022-01-10 06:42] thildebrand opened #3 "Tim Hildebrand"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Tim's EDCI 338 Blog](https://thildebrand.opened.ca/)

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [x]  Check this box if you agree to have y

[2022-01-10 16:53] cmadland commented on #3
Hi @thildebrand! Welcome to EDCI338, and thanks for testing this process! GitHub tells me this is your first issue ever!

[2022-01-10 20:56] thildebrand commented on #3
@cmadland Updated! This is indeed my first issue ever! I couldn't figure out how to apply labels to my issue in order to select a learning pod. I read online that perhaps the permissions aren't set correctly to allow for this or maybe I'm just missing something obvious?

[2022-01-10 21:00] cmadland commented on #3
Oh, good to know. I'll have a look.

[2022-01-10 23:14] cmadland commented on #3
@thildebrand when you view your issue, can you see the 'Labels' link on the right side?
![image](https://user-images.githubusercontent.com/12282929/148853492-468c911a-8381-42e4-b9ef-38323d4f2a2c.png)

[2022-01-10 23:33] thildebrand commented on #3
@cmadland I can, yes, but I cannot see the 'gear' icon on the far right of the screen.

![Screen Shot 2022-01-10 at 3 32 25 PM](https://user-images.githubusercontent.com/78454381/148855081-f7f85f72-0188-4a4f-93be-c1ca7537dac5.png)

[2022-01-11 15:59] alirezat137886 opened #5 "Alireza Tahmasebi"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Alireza Tahmasebi's Blog](https://alirezatahmasebiblog.opened.ca)

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [x]  Check this box if you ag

[2022-01-11 20:53] rissul opened #6 "Mary Pesado"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[My Blog](https://edci338learnings.opened.ca)

- []  Check this box if you are willing to have your blog URL published on the course website.
- []  Check this box if you agree to have your blog p

[2022-01-11 21:45] cmadland commented on #6
Hi @rissul, it was nice seeing you in the meeting this morning!

[2022-01-11 21:46] cmadland commented on #5
Hey @alirezat137886 good to see you here! Were you able to get off the waitlist?

[2022-01-11 21:58] alirezat137886 commented on #5
Hey @cmadland! Unfortunately, not yet. Hopefully a spot opens up for me in the next couple weeks.

[2022-01-12 04:02] rumorton opened #7 "Ruth Morton"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

rmedci338.opened.ca

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [x]  Check this box if you agree to have your blog posts syndicated so that

[2022-01-12 05:47] LeoM202 opened #8 "LeoMa"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://leom338.opened.ca)

- [✔︎]  Check this box if you are willing to have your blog URL published on the course website.
- [✔︎]  Check this box if you agree to have your blo

[2022-01-12 17:24] cmadland commented on #7
Hi @rumorton! Welcome to EDCI338!  Did you intend to close this issue? I've reopened it for now, but let me know if this was intentional. Colin

[2022-01-12 17:26] cmadland commented on #8
Hi @LeoM202 ! Welcome to EDCI338! Thanks for filling this out. Please let me know if you have questions.

[2022-01-12 19:21] kaylakrug opened #9 "Kayla Krug"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [x]  Check this box if you agree to have your blog pos

[2022-01-12 19:25] kaylakrug commented on #9
https://kaylakrug.wordpress.com
kaylakrug@shaw.ca

[2022-01-12 19:27] kaylakrug commented on #9
https://kaylakrug.wordpress.com
kaylakrug@shaw.ca

[2022-01-12 19:42] kaylakrug commented on #9
add label

[2022-01-12 19:43] kaylakrug commented on #9
I was unable to type, only was able to check boxes. I also am unable to add myself into a label for a pod

[2022-01-12 19:50] kaylakrug commented on #9
I was unable to type, I was only able to check boxes.

[2022-01-12 20:32] emilylehoux opened #10 "Emily Lehoux"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title **https://indigenousstudieseducation.opened.ca/category/edci-338/**

- [X]  Check this box if you are willing to have your blog URL published on the course website.
- [X]  Check t

[2022-01-12 20:33] emilylehoux commented on #10
https://indigenousstudieseducation.opened.ca/category/edci-338/

[2022-01-12 20:40] tatumdrew opened #11 "Tatum Drew"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Tatumspage](https://uvictatum.opened.ca)

- [ x]  Check this box if you are willing to have your blog URL published on the course website.
- [ x]  Check this box if you agree to have your blog p

[2022-01-13 01:34] rumorton commented on #7
Thank you! I definitely did not mean to close anything. Still learning how to use this platform

[2022-01-13 02:06] pipercote opened #12 "Piper Cote"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://pipercote.opened.ca)

- [x ]  Check this box if you are willing to have your blog URL published on the course website.
- [x ]  Check this box if you agree to have your b

[2022-01-13 06:33] amanda9263 opened #13 "Chenxu Zhang"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have your blog pos

[2022-01-13 06:34] guoqinliu opened #14 "guoqinliu"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have your blog pos

[2022-01-13 19:33] rissul commented on #6
Hi @cmadland, I'm currently having trouble joining a learning pod. I'm not able to apply a label to my issue (please see screenshot below)

Your help is greatly appreciated!

![image](https://user-images.githubusercontent.com/97558302/149396831-a1482540-d678-4d81-bc45-9258de49222b.png)

[2022-01-13 23:31] EDCI338 opened #15 "Mia Bautista"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[EDCI 338 Blog](https://edci338mb.opened.ca/)

- [x]  Check this box if you are willing to have your blog URL published on the course website.

- [ ]  Check this box if you agree to have your blo

[2022-01-14 00:12] tiannaroutley opened #16 "Enter your name here"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Tianna338](https://tianna338.opened.ca)

- [x]  Check this box if you are willing to have your blog URL published on the course website.

- [x]  Check this box if you agree to have your blog pos

[2022-01-14 00:25] V00979195 opened #17 "Jingjing Jiang"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://jingjingjiang.opened.ca)

- [ √]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have you

[2022-01-14 01:08] michellemylrea opened #18 "Michelle Mylrea"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Michelle's Blog](https://michellemylrea.opened.ca)

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [x]  Check this box if you agree to have you

[2022-01-14 19:04] miaharmitage opened #19 "Miah Armitage"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Miah EDCI 338](https://miaharmitage.opened.ca)

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have your bl

[2022-01-14 20:08] QiaoyiLiang1 opened #20 "Qiaoyi Liang"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [x]  Check this box if you agree to have your blog pos

[2022-01-14 20:11] samanthaellis opened #21 "Samantha Ellis"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Sam Shares](https://sharingsam599822185.wordpress.com)

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [x]  Check this box if you agree to have

[2022-01-14 20:11] #20 closed

[2022-01-14 20:12] QiaoyiLiang1 opened #22 "Qiaoyi Liang"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have your blog pos

[2022-01-15 05:41] joyfulpenguin opened #23 "Enter your name here"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[JoyfullyAdequate](https://joyfullyadequate.opened.ca/)

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [x]  Check this box if you agree to have

[2022-01-15 20:39] alirezat137886 commented on #5
@cmadland What's the process for finding a learning pod? Is it possible to get access to the sign up sheet?

[2022-01-15 20:49] cmadland commented on #5
You can add a learning pod label to this issue...click the 'Labels' link at the top right of this thread and add a pod number. Feel free to organize a pod, start a new one, or just join a random one with fewer than 4 people.

[2022-01-15 20:56] alirezat137886 commented on #5
Sounds great! Do we have to decide on the topic for the major project before joining/creating a learning pod?

[2022-01-15 22:25] jbains510 opened #24 "Jeet Bains"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have your blog pos

[2022-01-16 04:19] shaafijahangir opened #25 "M Shaafi Jahangir"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Shaafi's EDCI338 Website](https://shaafij.opened.ca/)

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [x]  Check this box if you agree to have

[2022-01-16 04:21] chloelyh opened #26 "Yihan Liu"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Chloe's blog](https://cocomolly.opened.ca)

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [x]  Check this box if you agree to have your blog p

[2022-01-16 06:02] keitakahashi0512 opened #27 "Kei Takahashi"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have your blog pos

[2022-01-16 09:03] tyliewong opened #28 "Tylie Wong"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://tyliewong.opened.ca)

- [ x ]  Check this box if you are willing to have your blog URL published on the course website.
- [ x ]  Check this box if you agree to have your

[2022-01-16 23:23] ShidhiMohammad opened #29 "Shidhi Mohammad (Rio)"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://rioo.opened.ca)

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [x]  Check this box if you agree to have your blog pos

[2022-01-17 00:53] rs1281 opened #30 "Riya Sood"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://edciblogposts.opened.ca)

- [ ]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have your

[2022-01-17 02:31] Yifei10 opened #31 "Yifei10"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have your blog pos

[2022-01-17 03:36] xtt9 opened #32 "Tian Xiao"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://xtt3.opened.ca)

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [x]  Check this box if you agree to have your blog pos

[2022-01-17 04:08] Yifei10 opened #33 "Yifei Dai"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have your blog pos

[2022-01-17 04:09] #33 closed

[2022-01-17 04:40] niclstang opened #34 "Nick Tang"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have your blog pos

[2022-01-17 04:49] yuxfste opened #35 "Xiaofeng Yu"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have your blog pos

[2022-01-17 04:57] niclstang opened #36 "Nick Tang"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have your blog pos

[2022-01-17 07:00] afterfewdrinks opened #37 "Cassie Ma"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have your blog pos

[2022-01-17 07:12] cmadland commented on #36
Looks like this was created accidentally...

[2022-01-17 07:12] #36 closed

[2022-01-17 07:21] minruihan opened #38 "Minrui Han"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://vicmrhan.opened.ca/)

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [x]  Check this box if you agree to have your blo

[2022-01-17 19:05] cmadland commented on #7
Hi @rumorton it looks like the url you provided for your blog isn't set up correctly... https://rmedci338.opened.ca

Let me know if you need assistance!

[2022-01-17 21:14] rumorton commented on #7
https://rmedci388.opened.ca/
does this link work?

[2022-01-18 02:23] keitakahashi338 opened #39 "Enter your name here"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have your blog pos

[2022-01-18 09:57] pudding34 opened #40 "Jiahui Chen"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have your blog pos

[2022-01-18 11:09] jiaxinchen27 opened #41 "Jiaxin Chen"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [x]  Check this box if you agree to have your blog pos

[2022-01-18 11:18] #41 closed

[2022-01-18 11:25] jiaxinchen27 opened #42 "Jiaxin Chen"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box if you are willing to have your blog URL published on the course website.
- [ ]  Check this box if you agree to have your blog pos

[2022-01-19 01:51] cmadland commented on #42
Hi @jiaxinchen27 what is your blog url?

[2022-01-19 01:51] cmadland commented on #40
Hey @pudding34 what is your blog URL?

[2022-01-19 01:52] cmadland commented on #39
Hey @keitakahashi338 what is your blog url?

[2022-01-19 01:54] cmadland commented on #38
Hi @minruihan what is your blog URL?

[2022-01-19 01:55] cmadland commented on #37
Hi @afterfewdrinks what is your blog url?

[2022-01-19 01:59] minruihan commented on #38
This is my URL.

   - https://vicmrhan.opened.ca

Colin Madland ***@***.***> 于2022年1月18日周二 17:54写道：

[2022-01-19 03:14] alirezat137886 commented on #5
Hi @cmadland! What's the best way to organize a learning pod? I've assigned a learning pod label to this issue, but no one else has joined the pod yet.

[2022-01-19 05:10] cmadland commented on #34
Hi @niclstang what is your blog URL?

[2022-01-19 05:12] cmadland commented on #31
Hi @Yifei10 what is your blog url?

[2022-01-19 05:13] cmadland commented on #22
Hi @QiaoyiLiang1 what is your blog url?

[2022-01-19 05:28] QiaoyiLiang1 commented on #22
﻿Hello,
My blog URL is https://nancy.opened.ca

Regards,
Qiaoyi.

[2022-01-19 05:31] afterfewdrinks commented on #37
Hi@cmadland my url is [https://phosphene.opened.ca](url)

[2022-01-19 05:32] afterfewdrinks commented on #37
Hi @cmadland my url is [https://phosphene.opened.ca](url) :)

[2022-01-19 05:54] Yifei10 commented on #31
Here is my blog url: https://daiy1015.opened.ca/

[2022-01-19 06:53] keitakahashi338 commented on #39
Hello,professor
This is my blog url

https://keit.opened.ca
--

[2022-01-19 08:55] Wenzhuozhang338 opened #43 "Wenzhuo Zhang"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://338wenzhuo.opened.ca/)

- [checked ]  Check this box if you are willing to have your blog URL published on the course website.
- [checked ]  Check this box if you agree

[2022-01-19 12:57] pudding34 commented on #40
Hello @cmadland this is my URL：https://coolpudding.opened.ca

[2022-01-20 00:57] jiaxinchen27 commented on #42
I am sorry, I am still waiting for my site.
 It says it is currently being set up.I have already waited it for 15 hours, I think the site will be  successful set up in several hours. Thank you for your patience.

[2022-01-20 07:31] Yifei10 opened #48 "Yifei Dai"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://daiy1015.opened.ca)

- [x]  Check this box if you are willing to have your blog URL published on the course website.
- [x]  Check this box if you agree to have your blog

[2022-01-20 07:32] #48 closed

[2022-01-20 19:27] minruihan commented on #38
Hi professor, I didn't see the link that sign up for learning pods. Where I
can join the learning pods?

Thank you!

VicMr韩 ***@***.***> 于2022年1月18日周二 17:59写道：

[2022-01-20 21:13] cmadland commented on #38
Hi @minruihan, I've noticed you converting these issues into discussions. Can you get in touch with me?

[2022-01-20 21:14] cmadland commented on #38
Now that you are a contributor on the repo, you can edit this issue to add the label of your learning pod.

[2022-01-20 21:25] minruihan commented on #38
That means I am already in the team? [image: 3.PNG]

Colin Madland ***@***.***> 于2022年1月20日周四 13:14写道：

[2022-01-20 23:27] cmadland opened #52 "Jingjing Jiang"
### Discussed in https://github.com/cmadland/edci338-202201/discussions/49

<div type='discussions-op-text'>

<sup>Originally posted by **V00979195** January 13, 2022</sup>
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](http

[2022-01-20 23:29] cmadland opened #53 "Qiaoyi Liang"
### Discussed in https://github.com/cmadland/edci338-202201/discussions/44

<div type='discussions-op-text'>

<sup>Originally posted by **QiaoyiLiang1** January 14, 2022</sup>
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](h

[2022-01-20 23:30] cmadland opened #54 "Yifei Dai"
### Discussed in https://github.com/cmadland/edci338-202201/discussions/45

<div type='discussions-op-text'>

<sup>Originally posted by **Yifei10** January 16, 2022</sup>
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https:

[2022-01-20 23:31] cmadland opened #55 "Wenzhuo Zhang"
### Discussed in https://github.com/cmadland/edci338-202201/discussions/51

<div type='discussions-op-text'>

<sup>Originally posted by **Wenzhuozhang338** January 19, 2022</sup>
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title

[2022-01-20 23:32] cmadland commented on #42
Oh, ok thanks. Do you recall what url you requested?

[2022-01-20 23:34] cmadland opened #56 "Xiaofeng Yu"
### Discussed in https://github.com/cmadland/edci338-202201/discussions/50

<div type='discussions-op-text'>

<sup>Originally posted by **yuxfste** January 16, 2022</sup>
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[STEFAN EDCI338 BLOG](ht

[2022-01-21 02:14] QiaoyiLiang1 commented on #53
Hello,
My URL is https://nancy.opened.ca

I have uploaded this week's blog, please help me to check whether it is uploaded correctly, thankyou.

Sincerely,
Nancy

[2022-01-21 14:00] jiaxinchen27 commented on #42
https://flower.opened.ca

[2022-01-21 19:22] cmadland opened #57 "Nick Tang"
### Discussed in https://github.com/cmadland/edci338-202201/discussions/47

<div type='discussions-op-text'>

<sup>Originally posted by **niclstang** January 16, 2022</sup>
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](http

[2022-01-21 21:26] cmadland opened #58 "Learning pod 13 organizing"

[2022-01-21 22:25] JIA-9 opened #60 "Jiaxin Wang"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://jiajiajia.opened.ca)

- [x]  Check this box (put an 'x' between the square brackets) if you are willing to have your blog URL published on the course website.
- [x]  Che

[2022-01-21 22:37] cmadland commented on #60
Hello @JIA-9 it looks like I can't add you as a collaborator on the course repo...is your profile private?

[2022-01-21 22:48] cmadland commented on #42
It looks like that site is ready now!

[2022-01-21 22:50] cmadland commented on #27
Hi @keitakahashi0512 what is your blog URL?

[2022-01-21 22:52] cmadland commented on #39
Looks like you have two learner profile issues going...I'll close this one, and you can use the one that is in Group 5.

[2022-01-21 22:52] #39 closed

[2022-01-21 22:55] JIA-9 commented on #60
it shows I have to wait a few minutes. it may work later.
Can you help me to add label "learning pod"? I'm not sure how to add it

[2022-01-21 22:58] keitakahashi0512 commented on #27
hi
my blog URL is

https://keit.opened.ca

Colin Madland ***@***.***> 于2022年1月21日周五 14:50写道：

[2022-01-21 23:09] cmadland commented on #24
Hi @jbains510, what is your blog URL? Also, you have an invitation to collaborate on this repository that you'll have to confirm before you can join a learning pod. Please get in touch if you're having difficulty.

[2022-01-21 23:22] cmadland commented on #14
Hello @guoqinliu what is your blog url?

[2022-01-21 23:27] cmadland commented on #60
I've sent an invitation for you to collaborate. Once you accept that invitation, you will be able to edit the labels on your learner profile.

[2022-01-21 23:34] cmadland commented on #13
Hello @amanda9263 what is the url for your blog?

[2022-01-21 23:36] JIA-9 commented on #60
thanks

[2022-01-22 07:51] mahditasfin opened #61 "Mahdi Tasfin"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title][(https://rookie.opened.ca/))

- [x]  Check this box (put an 'x' between the square brackets) if you are willing to have your blog URL published on the course website.
- [ ]  Che

[2022-01-22 20:12] cmadland commented on #7
Yes it does! thanks!

[2022-01-23 06:03] cmadland commented on #61
Hey @mahditasfin welcome to EDCI338! I've added you as a contributor to the repo, and it appears you have some experience with GitHub. Looking forward to learning with you!

[2022-01-23 06:03] cmadland commented on #61
If you could add one of the LearningPod labels to your Learner Profile issue, that would be great!

[2022-01-23 16:58] robertsunyq opened #63 "Robert Sun"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box (put an 'x' between the square brackets) if you are willing to have your blog URL published on the course website.
- [ ]  Check th

[2022-01-23 17:22] robertsunyq commented on #63
@cmadland I would like to be in learning pod 8. Can you labelled me as that? Thank you.

[2022-01-24 04:28] mahditasfin commented on #61
Thanks Colin for reminding me, I have joined pod 7

[2022-01-24 07:42] jiaxinchen27 commented on #42
Yes, it is ready. My site spends a long time to be set up, thank you for your waiting. Have a good day!

[2022-01-25 08:06] jzhangch opened #67 "Jenny"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box (put an 'x' between the square brackets) if you are willing to have your blog URL published on the course website.
- [ ]  Check th

[2022-01-25 08:17] jzhangch opened #68 "Jenny Zhang Chen"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Jenny's Intro](https://____.opened.ca)

- [x ]  Check this box (put an 'x' between the square brackets) if you are willing to have your blog URL published on the course website.
- [ ]  Check thi

[2022-01-25 08:17] #67 closed

[2022-01-25 19:22] Jialin1227 opened #69 "Jialin He"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://christina1227.opened.ca)

- [ ]  Check this box (put an 'x' between the square brackets) if you are willing to have your blog URL published on the course website.
- [ ]

[2022-01-28 04:52] TessaHick opened #72 "Theressa (Tessa) Hick"
[####]https://edci338tessa.opened.ca/ What is the URL for the blog you created? You are welcome to use a blog that you've created for another class or your own personal site. Just make sure you use the category `edci338` on your posts.

[TESSA'S EDCI338](https://edci338tessa.opened.ca/)

- [X]  Check this box (put an 'x' between the square brackets) if you are willing to have your blog URL publish

[2022-01-29 00:06] cmadland commented on #72
Hey @TessaHick, the word back from tech support is for you to create another site. They've had to delete the one you initially created. Let me know if you need further assistance!

[2022-01-29 09:37] Wenzhuozhang338 commented on #38
Hi, Minruihan.
Are you sure this blog site is correct? I cannot see your posts for these two weeks.

[2022-01-29 09:39] Wenzhuozhang338 commented on #69
Hi Jialin.
Please remember to post the blog before the Weekend! So I can review it and write comment for you.

[2022-01-29 18:21] cmadland commented on #68
Hi @jzhangch, please make sure you accept my invitation to collaborate on the EDCI338 repository so that you can join a learning pod! Let me know if you are having difficulties.

[2022-01-29 18:24] cmadland commented on #63
Hi Robert, please accept the invitation to the repository so that you can add the label to your profile.

[2022-01-29 20:00] cmadland opened #77 "Learning pod 6"
Hello Learning Pod 6, five people in a learning pod is getting a little big. Is there any chance you could divide into a group of 2 and a group of 3?

Let me know if there is anything I can help with.

[2022-01-29 20:00] cmadland opened #78 "Learning pod 6"
Hello Learning Pod 6, five people in a learning pod is getting a little big. Is there any chance you could divide into a group of 2 and a group of 3?

Let me know if there is anything I can help with.

[2022-01-29 20:06] cmadland commented on #28
Hi @tyliewong, please accept the invitation to collaborate on the EDCI338 github repository so you can join a learning pod. Let me know if you have questions!

[2022-01-29 20:08] cmadland commented on #14
Hello @guoqinliu , please be in touch!

[2022-01-29 20:16] tyliewong commented on #28
Hi! I dropped the course!

Tylie

On Sat, Jan 29, 2022 at 12:07 PM Colin Madland ***@***.***>
wrote:

[2022-01-29 20:18] #13 closed

[2022-01-29 20:21] #11 closed

[2022-01-29 20:41] minruihan commented on #38
Yes, My blog site is correct. I try to post these days.

Wenzhuozhang338 ***@***.***> 于2022年1月29日周六 01:37写道：

[2022-01-30 04:44] ragejin opened #79 "Reggie Jin"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)
https://whatsup.opened.ca/
- [x]  Check this box (put an 'x' between the square brackets) if you are willing to have your blog URL published on the cours

[2022-02-07 19:54] emilylehoux opened #81 "Learning Pod 1 Major Project: Tik Tok"
Hey! Here is our issue for the project. Make sure you can access this easily. Thanks.

[2022-02-07 19:58] cmadland commented on #81
@emilylehoux do you see the 'Projects' section on the right side of this page? If so, is the 'EDCI338 Major Project' project an option?

[2022-02-07 20:03] emilylehoux commented on #81
Yeah, I tried adding it, but nothing popped up. There was no option to click to add.

Hope this helps,

Emily
________________________________
From: Colin Madland ***@***.***>
Sent: Monday, February 7, 2022 11:58:17 AM
To: cmadland/edci338-202201 ***@***.***>
Cc: Emily Lehoux ***@***.***>; Mention ***@***.***>
Subject: Re: [cmadland/edci338-202201] Learning Pod 1 Major Project: Tik Tok (Issue #81)

[2022-02-07 22:26] cmadland commented on #81
Ok, I've added you to the project...can you see it now?

[2022-02-08 04:32] cmadland commented on #79
Hi @ragejin have you connected with a group yet? The Major Project is getting started and you will need a learning pod for that. Please contact me if you have questions!

[2022-02-08 04:41] LeoM202 opened #82 "Learning Pod 4 Major Project: Discord"

[2022-02-08 05:10] ragejin commented on #79
Hi Colin,

I was going to ask you about this questuon! I thought the group was
assigned by you that's why I didn't join learning pod. Is it possible for
you to assign me into any group? Thank you so much

Best
Reggie Jin

Colin Madland ***@***.***>于2022年2月7日 周一20:32写道：

[2022-02-08 05:51] michellemylrea commented on #82
Hey guys! So sorry it was hard to get a hold of me. I went through my junk mail and saw that Ruth had sent me an email about there being a messenger group chat and not being able to find my account. I sent a message to Ruth on Facebook so that she can add me to the group chat. Sorry again for any inconveniences this may have caused, I look forward to collaborating with everyone on the project :)

[2022-02-08 13:46] alirezat137886 opened #84 "Learning Pod 2 Major Project: LinkedIn"

[2022-02-08 19:08] rissul opened #85 "Learning Pod 3 Major Project: YouTube"

[2022-02-11 04:02] rs1281 opened #86 "Learning Pod 8 - Major Project - Instagram"
We would like to use Instagram as our social media platform

[2022-02-11 20:16] chloelyh opened #87 "Yihan,Liu"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://____.opened.ca)

- [ ]  Check this box (put an 'x' between the square brackets) if you are willing to have your blog URL published on the course website.
- [ ]  Check th

[2022-02-11 20:20] chloelyh opened #88 "Learning Pod 5 Major Project: Weibo"

[2022-02-11 20:21] cmadland commented on #87
Hi @chloelyh thanks for creating this. Are you part of a Learning Pod?

[2022-02-11 20:24] #87 closed

[2022-02-11 20:26] cmadland commented on #87
I see what happened...sorry to bother you!

[2022-02-12 05:35] 13nan opened #89 "Enter your name here"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://nleng.opened.ca)

- [ x]  Check this box (put an 'x' between the square brackets) if you are willing to have your blog URL published on the course website.
- [ ]  Check

[2022-02-12 06:01] 13nan commented on #88
I'm sorry to bother you guys, but I don't know how to join this group.

[2022-02-12 22:30] shaafijahangir opened #90 "Learning Pod 7 Major Project: GitHub"
- [ ] Personas
- [ ] Demographic Information
- [ ] Digital Identity
- [ ] Privacy and Surveillance
- [ ] Access and Inclusion
- [ ] Trust and Misinformation
- [ ] Public Discourse
- [ ] Education
- [ ] Media Literacy
- [ ] Reflections

[2022-02-12 22:45] cmadland commented on #90
Added you to the project!

[2022-02-13 00:32] cmadland commented on #88
Good to go @13nan !

[2022-02-13 06:57] 13nan commented on #88
Hi Professor Madland,
Thank you for letting me be assigned to Learning Pod.
Sincerely,
Nan

Colin Madland ***@***.***> 于2022年2月12日周六 16:31写道：

[2022-02-13 13:13] guoqinliu commented on #14
https://guoqin.opened.ca/

[2022-02-13 14:48] guoqinliu opened #91 "Guoqin Liu"
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://guoqin.opened.ca)

- [ ]  Check this box (put an 'x' between the square brackets) if you are willing to have your blog URL published on the course website.
- [ ]  Check

[2022-02-13 21:11] niclstang opened #92 "Learning Pod 9 Major Project: Zenly"

[2022-02-14 07:22] shaafijahangir commented on #90
Thanks!

[2022-02-14 08:08] ragejin opened #93 "Learning Pod 10 Major Project: RED"

[2022-02-14 22:08] cmadland commented on #93
Hey everyone! I'm not familiar with RED as a social media platform...can you share a link?

[2022-02-15 05:41] ragejin commented on #93
Here is a link that we found introducing RED, and it might be helpful.
https://www.latmultilingual.com/blog/understanding-red-the-chinese-shopping-app/

[2022-02-15 06:29] yuxfste opened #94 "Learning Pod 6 Major Project: LinkedIn"

[2022-02-15 06:42] yuxfste commented on #94
@cmadland Hi, I had a bit of an incident in the second week of the course, but I'm catching up now. I'm not sure how many are still in the Learning Pod 6?

[2022-02-15 22:06] yuxfste commented on #94
@cmadland Ok, not bad. I always use the Blog List page on the course hub to see how many people are in my group before, but now I get it. Thanks for your reply.

[2022-02-15 23:09] cmadland commented on #94
Well, I use information from you to update the blog list page, so it might be good to double check with others you see there.

[2022-02-16 01:19] ragejin commented on #93
Here is a link that we found introducing RED, and it might be helpful.
https://www.latmultilingual.com/blog/understanding-red-the-chinese-shopping-app/

[2022-02-17 00:07] alirezat137886 commented on #84
- [ ] Personas
- [ ] Demographic Information
- [ ] Digital Identity
- [ ] Privacy and Surveillance
- [ ] Access and Inclusion
- [ ] Trust and Misinformation
- [ ] Public Discourse
- [ ] Education
- [ ] Media Literacy
- [ ] Reflections

[2022-02-17 22:41] emilylehoux commented on #81
- [ ] Personas
- [ ] Demographic Information
- [ ] Digital Identity
- [ ] Privacy and Surveillance
- [ ] Access and Inclusion
- [ ] Trust and Misinformation
- [ ] Public Discourse
- [ ] Education
- [ ] Media Literacy
- [ ] Reflections

[2022-02-18 03:18] rs1281 commented on #86
- [ ] Personas
- [ ] Demographic Information
- [ ] Digital Identity
- [ ] Privacy and Surveillance
- [ ] Access and Inclusion
- [ ] Trust and Misinformation
- [ ] Public Discourse
- [ ] Education
- [ ] Media Literacy
- [ ] Reflections

[2022-02-20 02:14] JIA-9 opened #106 "tracking"

[2022-02-20 02:17] #106 closed

[2022-02-20 03:34] yuxfste commented on #94
- [ ] Personas
- [ ] Demographic Information
- [ ] Digital Identity
- [ ] Privacy and Surveillance
- [ ] Access and Inclusion
- [ ] Trust and Misinformation
- [ ] Public Discourse
- [ ] Education
- [ ] Media Literacy
- [ ] Reflections

[2022-02-20 03:35] yuxfste commented on #94
- [ ] Personas
- [ ] Demographic Information
- [ ] Digital Identity
- [ ] Privacy and Surveillance
- [ ] Access and Inclusion
- [ ] Trust and Misinformation
- [ ] Public Discourse
- [ ] Education
- [ ] Media Literacy
- [ ] Reflections  ###

[2022-02-20 23:38] cmadland commented on #81
Hey everyone...came across this podcast today.

https://anchor.fm/cheyandpav/episodes/Using-TikTok-in-the-Classroom---106-e1elf9o/a-a7erk5o
@emilylehoux @miaharmitage @EDCI338 @tiannaroutley

[2022-02-22 21:08] cmadland commented on #15
<https://github.com/EDCI338/EDCI338/issues>

[2022-02-23 18:13] cmadland commented on #16
Hi @tiannaroutley, can you create a private repository in your GitHub account and invite me to collaborate there?

[2022-02-23 18:48] cmadland commented on #16
I'll leave some general comments here about your [Showcase post](https://tianna338.opened.ca/showcase-post-1/)...

- There are some typos to correct throughout.
- Good use of, and links to, outside sources
- Strong critique of the language that Prensky used in his dichotomy
- I appreciate how you draw on and incorporate the experiences of others in your post. This makes for a far richer post compa

[2022-02-23 19:15] cmadland commented on #81
Hey!
I've been through each of your Showcase posts and just wanted to point out that it is obvious to me that you four are really engaging with the topics of the course in your conversations.

i appreciate your work!

cm

[2022-02-24 17:19] cmadland commented on #55
Hi @Wenzhuozhang338, would you please create a private repository in your own account and invite me to collaborate on it?

[2022-02-24 19:49] cmadland commented on #55
@Wenzhuozhang338

I'll leave some general comments here regarding your [showcase post](https://338wenzhuo.opened.ca/2022/02/13/showcase-post-week-5/)...

- thanks for sharing your views in relation to what we call 'intrinsic motivation', and Chinese people call 原动力（Yuan Dong Li). This is an interesting connection.
- would be good to link to Roth's article to make it easier to find
-  very relevant

[2022-02-25 04:34] cmadland commented on #37
Hi @afterfewdrinks, would you mind inviting me to collaborate on a private repo in your account?

[2022-02-25 05:19] cmadland commented on #37
Some general comments on your [Showcase post](https://phosphene.opened.ca/2022/02/13/showcase1/)

- Good overviews of your group-mates' posts
- Good descriptions of Siemens' epistemological views.
- I love your questions at the end...what do you think? Will technology become advanced enough that we will no longer need to learn?

I'll add more specific feedback when you invite me to a private repo.

[2022-02-25 09:27] miaharmitage commented on #81
@cmadland Thank you for sharing the podcast link! I will for sure be giving it a listen tomorrow. It is super cool that the podcast is from Canadian teachers, I'm really looking forward to hearing their perspectives and hopefully, integrating this into our major project.
Also, thank you for the kind comment about my learning pods showcase posts. We all have really enjoyed the content and conversat

[2022-02-25 18:40] cmadland commented on #3
Hey @thildebrand, I can't see your blog as it is set to be private. Can you update that setting (Settings > Reading > Visibility), then also add me to a private repo on Github?

Let me know if you have questions.

[2022-02-25 18:42] cmadland commented on #72
Hi @TessaHick, would you please create a private repo in your GitHub account and invite me as a collaborator?

[2022-02-25 19:07] cmadland commented on #72
Some general observations about your [Showcase Post](https://edci338tessa.opened.ca/showcase-post-1/)...

- interesting tie between the butterfly effect and small actions in a PLN
- nice connection to Mary's post
- It would be good to see a stronger connection between a course outcome and the Helene Wingens post.

I'll add more feedback once you share a private repo with me.

[2022-02-26 20:57] cmadland commented on #12
Some general observations on your [Showcase post](https://pipercote.opened.ca/showcase-post-1/).

- I like how you've framed the issue of data privacy around what we are giving to the web. The irony is that when we *think* we are learning from the web, in many cases, the web is forcibly and covertly taking from us far more than we give. [Here's an example of how it has worked in the past.](https:/

[2022-02-28 04:20] cmadland commented on #40
Hello @pudding34,

Please create a new private repository in your GitHub account and add me as a collaborator. [Instructions are linked here.](https://docs.github.com/en/get-started/quickstart/create-a-repo)

[2022-02-28 04:29] cmadland commented on #40
@pudding34 - Some general comments about your [showcase post...](https://coolpudding.opened.ca/showcase-posts-1/)

- good overview of the importance of digital privacy
- very good point that trust is the cornerstone of interacting on the web!
- I'm curious, how does 5G technology lead to information leaking?
- You have outlined some challenges people face with digital privacy.

I'll provide more s

[2022-02-28 04:56] cmadland commented on #26
Hi @chloelyh, please make sure you create a private repository and invite me as a collaborator. [Here are instructions.](https://docs.github.com/en/get-started/quickstart/create-a-repo)

[2022-02-28 05:03] cmadland commented on #26
Some general comments about your [showcase post.](https://cocomolly.opened.ca/showcase1/)
- AI certainly factors into social media platforms, sometimes with disastrous outcomes.

@chloelyh, please contact me as soon as possible!

[2022-02-28 06:15] #38 closed

[2022-02-28 06:23] thildebrand commented on #3
@cmadland Hi, I'm very sorry for the delay. I just added you to my private repo, and I thought I had my blog set to be visible but I guess not. I had it as 'Allow search engines to index this site' and now it is set at 'Visible only to registered users of this site'. Can you see it now?

[2022-02-28 16:55] cmadland commented on #94
Hi @yuxfste, please be in touch as soon as possible!

[2022-02-28 17:29] cmadland commented on #63
Hi @robertsunyq,

Please [create a new private repository in GitHub](https://docs.github.com/en/get-started/quickstart/create-a-repo) and invite me as a collaborator (Settings > Collaboration).

[2022-02-28 17:42] cmadland commented on #63
@robertsunyq here are some general comments about your showcase post. I'll provide more specific feedback once you invite me to your private repo.

- good description of a PLN
- 'becoming a beacon of light', I like that...good advice.
- there are many professionals who use Twitter as the core of their PLN, just because of how it is built.
- You are correct about the challenges of using SM...there

[2022-02-28 17:59] cmadland commented on #30
Hi @rs1281,

Please create a new [private repository in your GitHub account] and add me as a collaborator (Settings > Collaborators).

[2022-02-28 18:09] cmadland commented on #30
@rs1281 I'll comment generally on your [showcase post](https://edciblogposts.opened.ca/showcase-post-1/) here and will add more detail once you add me to your private repo.

- I recognize that Siemens argues that technology has changed our brains, but I am skeptical of claims that our brains are evolving as a result...
- keep in mind that there isn't really any research support for the idea of lea

[2022-02-28 18:58] cmadland commented on #54
Hi @Yifei10 please make your [Yifei10 repository](https://github.com/Yifei10/Yifei10) private and invite me as a collaborator.

- Visibility settings are under 'Settings', then scroll to the bottom of the page.
- You can invite me under 'Settings > Collaborators'

[2022-02-28 19:12] cmadland commented on #54
Some general comments about your [Showcase Post](https://daiy1015.opened.ca/showcase-post-1/)

- You should cite using the author's last name (Hart in this case).
- Also, this isn't a full sentence...

- what does (n.d.) refer to?
- The interesting thing about your V/R map is that all the big platforms over on the left side of your map are gathering data on you even if you aren't considering yours

[2022-02-28 19:16] cmadland commented on #54
Hi @Yifei10 I got your invitation to your other repo...would you mind going to 'Settings' and checking the box beside 'Issues'?

<img width="758" alt="image" src="https://user-images.githubusercontent.com/12282929/156044633-3c8bd827-0f0f-4e92-97c6-8072aeee38b9.png">

[2022-02-28 19:30] Yifei10 commented on #54
I thought my invitation was successful, but it still faild. Sorry for the delay.

[2022-02-28 23:25] cmadland opened #109 "Tian Xiao"
### Discussed in https://github.com/cmadland/edci338-202201/discussions/46

<div type='discussions-op-text'>

<sup>Originally posted by **xtt9** January 16, 2022</sup>
#### What is the URL for the blog you created? You are welcome to use a blog that you've created for another class, or your own personal site. Just make sure you use the category `edci338` on your posts.

[Your Blog Title](https://x

[2022-02-28 23:48] afterfewdrinks commented on #37
Hi @cmadland, sorry for the late reply. I'm just recovering from the side effects of the third COVID vaccine. I just invited you as a collaborator on my private repo. :)

[2022-03-01 01:12] cmadland commented on #79
Hello @ragejin, please create a new Private repository in Github and add me as a collaborator!

[2022-03-01 01:20] cmadland commented on #79
Comments on your [showcase post](https://whatsup.opened.ca/)

- there are many who disagree...
- You did a decent job of connecting the course topic (connectivism, privacy) with your writing about Meta.

I'll provide more specific feedback in the private repo you share with me.

[2022-03-01 01:22] cmadland commented on #69
@Jialin1227, please create a new private repository and add me as a collaborator.

[2022-03-01 01:24] cmadland commented on #69
@Jialin1227 I've sent an email. Please be in touch as soon as possible.

[2022-03-01 01:26] cmadland commented on #60
Hello @JIA-9!
Please create a new private repository and add me as a collaborator. Happy to help if you need it.

[2022-03-01 01:34] cmadland commented on #60
@JIA-9 here are some general comments about your [Showcase post](https://jiajiajia.opened.ca/showcase-post-1/)

- correct! just reading or watching something on the internet does not make it interactive...even if you need to click something!
- I was just talking to someone today about the smell of a library!

I'll provide more feedback once you have shared a private repository with me.

[2022-03-01 01:35] cmadland commented on #52
@V00979195 Please create a private repository and add me as a collaborator.

[2022-03-01 01:43] cmadland commented on #52
@V00979195

Here are some general comments about your [showcase post](https://jingjingjiang.opened.ca/2022/02/13/1-showcast/)

- keep in mind that connectionism and connectivism are different!

- I think this might be an understatement!

- I'm not sure what you mean in the quote above...could you explain that a bit?

- what would White and Cornu have to say about this?

Good thoughts...I'll post m

[2022-03-01 05:13] chloelyh commented on #26
Hi, professor. I just followed your instructions and create a private repository and invited you as a collaborator, please check if you can see it. Thanks!

[2022-03-02 20:16] yuxfste commented on #94
HI, @cmadland I already sent you a message by email and my private page.

[2022-03-03 05:02] LeoM202 commented on #82
- [ ] Personas
- [ ] Demographic Information
- [ ] Digital Identity
- [ ] Privacy and Surveillance
- [ ] Access and Inclusion
- [ ] Trust and Misinformation
- [ ] Public Discourse
- [ ] Education
- [ ] Media Literacy
- [ ] Reflections

[2022-03-03 22:38] rissul commented on #85
- [ ] Personas
- [ ] Demographic Information
- [ ] Digital Identity
- [ ] Privacy and Surveillance
- [ ] Access and Inclusion
- [ ] Trust and Misinformation
- [ ] Public Discourse
- [ ] Education
- [ ] Media Literacy
- [ ] Reflections

[2022-03-04 01:08] QiaoyiLiang1 commented on #92
- [ ] Personas
- [ ] Demographic Information
- [ ] Digital Identity
- [ ] Privacy and Surveillance
- [ ] Access and Inclusion
- [ ] Trust and Misinformation
- [ ] Public Discourse
- [ ] Education
- [ ] Media Literacy
- [ ] Reflections

[2022-03-04 10:11] pudding34 commented on #40
Hello @cmadland
I did not find README.md, I do not know what to do after this step.

[2022-03-04 21:37] kaylakrug commented on #85
Did my fork work? @cmadland

[2022-03-06 01:12] rumorton commented on #82
**4.2 Demographic Information**
Add the following information to your page in the course book.
Describe your chosen platform in significant detail, including, as available (Wikipedia may be a good source for some of this info):
- [ ] target audience (age, demographics, political leaning, interests, hobbies, etc)

- [ ] can non-users browse or search content?

- [ ]  how are users connected (e.g.,

[2022-03-06 01:55] cmadland commented on #93
Hello @ragejin @JIA-9 @Jialin1227 @V00979195, I see that Jingjing has a [fork of the Course repository at this link](https://github.com/V00979195/edci338-202201).

It would be great if you could all contribute your work to that branch, then maybe once a week you can send me a pull request to merge all your group's work at once. Let me know if you need assistance with this.

You can see a recording

[2022-03-06 02:06] cmadland commented on #93
Also, the file names you used include several spaces, periods, and Chinese characters. These may make it challenging to embed the images in your page. I suggest you rename them to something like 'persona1.png'

[2022-03-06 02:14] V00979195 commented on #93
How can we rename our images, I just rename it on my laptop and upload again.

[2022-03-06 02:17] cmadland commented on #93
Yes, but did you get my message about making these changes on your learning pod's fork?

[2022-03-06 02:23] V00979195 commented on #93
https://github.com/V00979195/edci338-202201/pull/1
Yes, I got your message. Do you mean this one that I listed(the link). How can I put my members in my fork?

[2022-03-06 23:02] rs1281 opened #122 "Tracking"
- [ ] Wow and Wonder 1
- [ ] Wow and Wonder 2
- [ ] Wow and Wonder 3
- [ ] Wow and Wonder 4
- [ ] Wow and Wonder 5
- [ ] Wow and Wonder 6
- [ ] Wow and Wonder 7
- [ ] Wow and Wonder 8
- [ ] Wow and Wonder 9
- [ ] Showcase 1
- [ ] Showcase 2
- [ ] Major Project
- [ ] Celebration of Learning

[2022-03-06 23:05] rs1281 commented on #30
On 2022-02-28 10:10, Colin Madland wrote:

Hello Colin,

I am sorry, I have made the repository now. I think I have done it
correctly, please let me know if you cannot see it.

Thank you,

Riya

Links:
------
[1] https://github.com/rs1281
[2] https://edciblogposts.opened.ca/showcase-post-1/
[3]
https://github.com/cmadland/edci338-202201/issues/30#issuecomment-1054526526
[4]
https://github.com/noti

[2022-03-08 01:30] cmadland opened #123 "Syllabus Adjustment"
Hello everyone...

This issue will be a discussion of a proposal to drop the second Showcase Post and distribute the value of that post (15%) to the first showcase post, the major project, and the celebration of learning post, so the new grading scheme would be:

| Item | Old Value | New Value|
|---|---|---|
|Showcase post 1 | 15% | 20%|
|Showcase Post 2 | 15%| Not Required |
| Major Project | 40%

[2022-03-09 22:26] pipercote commented on #123
I'm for it!

[2022-03-10 04:38] alirezat137886 commented on #123
Sounds good to me!

[2022-03-10 19:47] EDCI338 commented on #123
Sounds good:)

[2022-03-10 19:58] tiannaroutley commented on #123
I completely agree! I think it will definitely ease the amount of work placed in the second half of this course. One point of concern I do have is that I'm unsure where my grade sits in this course, so I worry if we increase the percent worth how it would affect my current grade. I'm thoroughly invested and enjoying this form of evaluation, but maybe we could receive a current letter grade to know

[2022-03-10 20:02] cmadland commented on #123
Good question Tianna...you should have received a level on the SOLO taxonomy in your feedback on the showcase post (if not, I'll get that to you asap). The levels on the [SOLO Taxonomy](https://teaching.madland.ca/solo) can be mapped to UVic letter grades.

Also, I don't 'average' your scores to come to a grade, so a lower grade early in the course can be completely erased by consistent higher gra

[2022-03-10 22:27] tiannaroutley commented on #123
Thanks for getting back to me! That definitely brought clarity to my worries. I haven't yet received feedback, but I have assigned you to my tracking and EDCI issue! This approach is definitely something very unfamiliar to me, but that's super awesome to hear that a negative "grade", in the beginning, wouldn't weigh down your course mark. I will schedule a meeting to converse about my showcase pos

[2022-03-11 03:23] shaafijahangir commented on #123
Sounds good to me too!

[2022-03-12 22:25] miaharmitage commented on #123
Perhaps in order to be evaluated on more than three assignments, maybe we could submit three Wow and Wonder posts (each worth 5%) in order to make up for the showcase post percentage? However, if this seems like something which would be too much marking to have completed near the end of the semester I completely understand that and in that case, I am good with moving the weight of the second showc

[2022-03-14 16:00] cmadland commented on #123
Hi @miaharmitage, I think there will be enough for me to go on with three formal assessments. That said, though, if you feel that I've missed something in my assessment of your work, I'm happy to look at further evidence such as Wows and Wonders.

[2022-03-14 16:01] cmadland commented on #123
I'm going to consider this decided as I haven't heard any objections.

[2022-03-14 16:01] #123 closed

[2022-03-14 16:15] cmadland commented on #82
Hello learning pod 4 @LeoM202 @pipercote @michellemylrea @rumorton

I've incorporated your pull request into the course site, and there are some formatting glitches. ***This is to be expected...so no worries!***

I'll follow up with another commit showing how I fixed it. Thanks for your work!

[2022-03-14 16:48] cmadland commented on #82
ok, [I've annotated my commit with some edits for your page](https://github.com/cmadland/edci338-202201/commit/7190ef2a3de0358c0d4a8d0f927145348361e50c). You will be able to see my comments on the right side of the page.

[2022-03-17 05:52] cmadland commented on #88
Hello LP5!

Thanks for your pull requests this evening. It would be better if you made your edits on one of your forks of the repository, rather than directly on the main repository. That way you can send just one pull request for a large number of changes. It looks like @pudding34 has a [fork that is relatively up-to date](https://github.com/pudding34/edci338-202201).

It might be easiest for you

[2022-03-19 23:21] cmadland commented on #86
Want to ensure you see this article... https://techpolicy.press/meta-meets-the-reality-of-war/
@jbains510 @rs1281 @robertsunyq

[2022-03-19 23:22] cmadland commented on #84
Want to ensure you see this article... https://techpolicy.press/meta-meets-the-reality-of-war/

@thildebrand @alirezat137886 @afterfewdrinks @Wenzhuozhang338

[2022-03-21 15:29] cmadland commented on #88
@13nan Are you able to access Github and connect with your group?

[2022-03-24 22:42] cmadland commented on #81
Article for you... https://apple.news/AmvR48Rb0QgmEbysZ8Zb2uA

[2022-04-01 23:35] xtt9 commented on #109
Hi Colin!
Here is my celebration of learning!
https://xtt3.opened.ca/celebration-of-learning/

[2022-04-07 08:46] pudding34 commented on #40
@cmadland
https://coolpudding.opened.ca/celebration-of-learning/